name: Documentation

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.py'
      - '**.md'
      - 'docs/**'
  pull_request:
    branches: [ "main" ]

jobs:
  docs:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pdoc3
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    
    - name: Generate documentation
      run: |
        pdoc --html --output-dir docs ConTextCap.py
    
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./docs
